@import "preview.styl"
@import "tooltip.styl"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  border 0
  margin 0
  outline 0
  padding 0
  vertical-align baseline

body
  font-family 'Roboto'

.page
  overflow hidden

.input, .vdp-datepicker input
  border 1px solid #999
  padding .5rem
  border-radius 3px
  display block
  width 100%

.input
  &-checkbox
    position relative
    &__checked
      display none
      position absolute
      left 2px
      z-index 1
      bottom 3px
      font-size 14px
    & input[type="checkbox"]
      opacity 0
      width 15px
      height 15px
      position relative
      z-index 3
      cursor pointer
      margin-right 5px
      &:checked ~ .input-checkbox__checked
        display block
    &:before
      content ""
      background #fff
      position absolute
      display block
      width 15px
      height 15px
      border 1px solid #999
      border-radius 3px
      z-index 0
      bottom 6px

.heading__title
  margin-bottom 1.25rem
  font-size 1.25rem
  font-weight bold

.page__title
  margin-bottom 2rem
  font-size 1.75rem
  font-weight bold

.form
  &__item
    margin-bottom 30px
  &__elem
    margin-bottom 15px
  &__label
    display block
    font-size 1rem
    font-family 'Roboto Condensed'
    margin-bottom .5rem
  &__picker
    position relative
    &-elem
      position absolute
      left 0
      top 100%
      z-index 5

.slider
  margin-top 0!important
  margin-bottom 0!important

.btn
  font-size .75rem
  padding 0 2.5px 2.5px
  cursor pointer
  display inline-block
  &-add
    border-bottom 1px solid #d0d0d0
    font-weight bold
    &:hover
      border-bottom 1px solid #999
    &__icon
      color blue
  &-remove
    color red
  &-download
    padding 15px
    background #00C853
    color #fff
  &_lg
    font-size 1.25rem

.button-preview
  background #366d5b
  color #fff
  border 0
  padding 15px 45px
  border-radius 3px
  cursor pointer
  &:hover
    text-decoration none
    color #fff3cd
.alert
  border-radius 5px
  border 1px solid #d0d0d0
  padding 15px
  margin-bottom 1.5rem
  &_warning
    background-color #f5ba7e59

.slider__label
  box-shadow none!important

.select
  border-radius 5px
  padding 5px
