body
  font-family 'Roboto'

.input
  border 1px solid #999
  padding .5rem
  border-radius 3px
  display block
  width 100%

.form
  &__label
    display block
    font-size 1.25rem
    font-family 'Roboto Condensed'
    margin-bottom .5rem
