body
  font-family 'Roboto'

.input, .vdp-datepicker input
  border 1px solid #999
  padding .5rem
  border-radius 3px
  display block
  width 100%

.heading__title
  margin-bottom 1.25rem
  font-size 1.25rem

.form
  &__label
    display block
    font-size 1rem
    font-family 'Roboto Condensed'
    margin-bottom .5rem
  &__picker
    position relative
    &-elem
      position absolute
      left 0
      top 100%
      z-index 5

.slider
  margin-top 0!important
  margin-bottom 0!important

.add-btn
  font-size .75rem
  padding 0 2.5px 5px
  cursor pointer
  display inline-block
  border-bottom 1px solid #d0d0d0
  &:hover
    border-bottom 1px solid #999

.alert
  border-radius 5px
  border 1px solid #d0d0d0
  padding 15px
  margin-bottom 1.5rem
  &_warning
    background-color #f5ba7e59