.preview
  &__item
    margin-bottom 30px
  &-header
    margin-bottom 2rem
    &__name
      font-size 2.75rem
    &__position
      font-size 1.2rem
    &__ava
      width 200px
      border-radius 5px
  &__title
    font-size 1.5rem
    margin-bottom 15px
  &__subtitle
    font-size 1.2rem
    font-weight bold
  &__icon
    font-size 1.25rem
    position relative
    top -2px
  &__key
    color grey
    margin-right 5px
  &__link
    color #00b0ff
  &-expirience
    &__item
      margin-bottom 30px
  &__subitem
    margin-bottom 7.5px